/* Spark! */


@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

html {
    color: #FFF;
    font-size: 1em;
    box-sizing:border-box;
    overflow-x: hidden;
}

*, *:before, *after {
    box-sizing: inherit;
}

/* IE image fix */
img { -ms-interpolation-mode: bicubic; }

/* ===== For Modal Height  ===== */ 
html, body {
    height: 100%;
    min-height: 100%;
}
/* ==== */ 

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

button[value="submit"]  
/* flatten button */
{
 border: 0;
 box-shadow:none;
 border-radius: 0px;
}

form {
    margin-bottom: 30px;
}

form .form-item label {
    color: #768992;
    display: block;
    margin-bottom: 5px;
}

form .form-item input {
    color: #768992;
    display: block;
    width: 100%;
}

form .form-item {
    display: block;
    margin-bottom: 20px;

}

form .form-item .form-textarea {
    width: 100%;
}

.contact-form {
    width: 80%;
    text-align: left;
    margin: 25px auto 100px;

}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBAL */

body {
    width:100%;
    background: #666666; /*testing only */
}

.page-container {
    box-sizing: border-box;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-top: 18px solid #feff00;
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.section-container {
    width:100%;
    max-width: 1366px;
    text-align: center;
}


.page-section-container {
    width:100%;
    margin-top: -20px;
    border-top: 10px solid #666666;
}

.page-inner-container {
    width: 100%;
    max-width: 1366px;
    text-align: center;
    margin: 0 auto;
}


#block-spark-content {
    width: 80%;
    color: #768992;
    margin: 0 auto;
}



/* BUTTONS */

.section-buttons {
    width:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align:center;
    padding: 40px 0 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section-buttons-vert {
    width:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align:center;
    padding: 8px 0 8px 0;
}

.section-buttons a {
    display: block;
    width: 100%;
    height:100%;
    color: white;
}

.btn {
    width:355px;
    height:80px;
    max-height:80px;
    padding:15px 5px 10px 5px;
    font-size: 2.5rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

#section01c button, #section01d button {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    border:none;
    width:555px;
    height:80px;
    max-height:80px;
    padding:15px 5px 15px 5px;
    font-size: 1.8rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-modal {
    width:555px;
    height:80px;
    max-height:80px;
    padding:21px 5px 10px 5px;
    font-size: 2rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-medium {
    width:500px;
    height:80px;
    max-height:80px;
    padding:15px 5px 10px 5px;
    font-size: 2.5rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.btn-full {
    width:100%;
    padding:10px 5px 10px 5px;
    font-size: 2rem;
    font-weight: 300;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

.btn-donate-big {
    width:100%;
    padding:40px 40px 20px 40px;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

.btn-donate-big .underline{
    text-decoration: underline;
}

.btn-sponsor {
    width:900px;
    padding:40px 30px 20px 30px;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

.btn-sponsor-small {
    width:600px;
    padding:20px;
    box-sizing: border-box;
    color: #ffffff;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
}

.btn-space {
    width:15px;
}

.btn:hover, .btn-modal:hover, .btn-medium:hover, .btn-full:hover, .btn-donate-big:hover, .btn-sponsor:hover, .btn-sponsor-small:hover, #section01c button:hover, #section01d button:hover {
    box-shadow:0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.involved-form button:hover {
    box-shadow:0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

/* HEADLINE SECTIONS */

.section-headline-box {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    box-sizing: border-box;
    width:100%;
    padding:40px 20px 20px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.section-headline {
    width:80%;
}

.section-headline .left-justify {
    text-align: left;
}


.section-headline h1 {
    line-height: 5rem;
}

.extra-strong {
    font-size: 6rem;
    font-weight: 700;
}

.section-headline p {
    font-size: 2.5rem;
    line-height: 3rem;
}

.section-headline h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

/* STATEMENT SECTIONS */

.section-statements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align:center;
    padding-top: 20px;
}

.section-statement-box {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width:360px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 20px 10px 0 10px;
}

.section-headline h4 {
        font-size: 3.1rem;
        line-height: 3rem;
        font-weight: 300;
}

.statement-image {
    text-align:center;
    width:100%;
}

.statement-image {
    width:283px;
    height:283px;
    border-radius: 50%;
    position:relative;
    cursor: default;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border:0;
}

.statement-assemi {
    background:
        -webkit-linear-gradient(rgba(255,84,100, 0.5),rgba(255,84,100, 0.5)),
        url(../img/02a_advocacy_assemi.png);
    background:
        linear-gradient(rgba(255,84,100, 0.5),rgba(255,84,100, 0.5)),
        url(../img/02a_advocacy_assemi.png);
}

.statement-soberal {
    background:
        -webkit-linear-gradient(rgba(241,141,74, 0.5),rgba(241,141,74, 0.5)), url(../img/02a_advocacy_soberal.png);
    background:
        linear-gradient(rgba(241,141,74, 0.5),rgba(241,141,74, 0.5)), url(../img/02a_advocacy_soberal.png);
}

.statement-rios {
    background:
        -webkit-linear-gradient(rgba(49,175,187, 0.5),rgba(49,175,187, 0.5)),
        url(../img/02a_advocacy_rios.png);
    background:
        linear-gradient(rgba(49,175,187, 0.5),rgba(49,175,187, 0.5)),
        url(../img/02a_advocacy_rios.png);
}

.statement-westerlund {
    background:
        -webkit-linear-gradient(rgba(170,103,177, 0.5),rgba(170,103,177, 0.5)), url(../img/02a_advocacy_westerlund.png);
    background:
        linear-gradient(rgba(170,103,177, 0.5),rgba(170,103,177, 0.5)), url(../img/02a_advocacy_westerlund.png);
}

.statement-barton {
    background:
        -webkit-linear-gradient(rgba(52,250,47, 0.5),rgba(52,250,47, 0.5)),
        url(../img/02a_advocacy_barton.png);
    background:
        linear-gradient(rgba(52,250,47, 0.5),rgba(52,250,47, 0.5)),
        url(../img/02a_advocacy_barton.png);
}

/* section 04 images */

.statement-lee {
    background:
        -webkit-linear-gradient(rgba(241,141,74, 0.5),rgba(241,141,74, 0.5)),
        url(../img/04a_01.jpg);
    background:
        linear-gradient(rgba(241,141,74, 0.5),rgba(241,141,74, 0.5)),
        url(../img/04a_01.jpg)
}

.statement-arambula {
    background:
        -webkit-linear-gradient(rgba(52,250,47, 0.5),rgba(52,250,47, 0.5)),
        url(../img/04a_02.jpg);
    background:
        linear-gradient(rgba(52,250,47, 0.5),rgba(52,250,47, 0.5)),
        url(../img/04a_02.jpg);
}

.statement-zumwalt {
    background:
        -webkit-linear-gradient(rgba(255,84,100, 0.5),rgba(255,84,100, 0.5)),
        url(../img/04a_03.jpg);
    background:
        linear-gradient(rgba(255,84,100, 0.5),rgba(255,84,100, 0.5)),
        url(../img/04a_03.jpg);
}

.statement-hill {
    background:
        -webkit-linear-gradient(rgba(49,175,187, 0.5),rgba(49,175,187, 0.5)),
        url(../img/04a_04.jpg);
    background:
        linear-gradient(rgba(49,175,187, 0.5),rgba(49,175,187, 0.5)),
        url(../img/04a_04.jpg);
}

.statement-thomas {
    background:
        -webkit-linear-gradient(rgba(170,103,177, 0.5),rgba(170,103,177, 0.5)),
        url(../img/04a_05.jpg);
    background:
        linear-gradient(rgba(170,103,177, 0.5),rgba(170,103,177, 0.5)),
        url(../img/04a_05.jpg);
}

.statement-info {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-hover {
    position: absolute;
    background: rgba(0,0,0, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-pinkred {
    position: absolute;
    background: rgba(255,84,100, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-orange {
    position: absolute;
    background: rgba(241,141,74, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-green {
    position: absolute;
    background: rgba(52,250,47, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-teal {
    position: absolute;
    background: rgba(49,175,187, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info-purple {
    position: absolute;
    background: rgba(170,103,177, 0.5);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity:0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    border:0;
}

.statement-info p {
    color: white;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin: 130px 0 0 0;
}

.statement-info a {
    width:100%;
    height:100%;
    display: block;
}

.statement-image:hover .statement-info-pinkred,
.statement-image:hover .statement-info-hover, .statement-image:hover .statement-info-green, .statement-image:hover .statement-info-orange, .statement-image:hover .statement-info-purple, .statement-image:hover .statement-info-teal{
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity:1;
    cursor: pointer;
}

.statement-image:hover .statement-info p {
    opacity:1;
}

.statement-info a p {
    color: white;
}

.statement-quote-box {
    padding: 15px 15px 15px 15px;
}

.statement-who {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 0 0 10px 0;
}

.statement-who p {
    display: inline;
    font-size: 1.3rem;
    line-height:1.3rem;
}


/* SECTION 1 - VIDEO MANIFESTO */

.section01-header {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-sizing: border-box;
    margin-top: -10px;
    padding: 0 20px 0 20px;
}

.section01-header-logo-box {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
}

.section01-logo-fcoe {
    padding: 12px 30px 0 10px;
}

.section01-logo-fcoe img {
    max-width:85px;
    height: auto;
}

.section01-header-vertdiv {
    background: #666666;
    box-sizing: border-box;
    width: 2px;
    height:85px;
    margin-top: 12px;
}

.section01-logo-spark {
    max-width:500px;
    box-sizing: border-box;
    padding: 0 0 0 25px;
}

.section01-logo-spark img {
    max-width:500px;
}

.section01-header-topnav-box {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 300;
    margin-top: 25px;
}

/* NAVIGATION */

header {
    margin: 30px 0 0 0;
    padding:0;
    width:100%;
}

nav {
    width:100%;
    max-width:1316px;
    margin:0;
}

header nav ul li {
    border-right: 4px solid #666666;
    box-sizing: border-box;
}

header nav {
    margin: 0 auto;
    width: 100%;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s;
    padding:0;
}

header nav ul {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style:none;
    margin:0 0 20px 0;
    padding:0;
    height:130px;
}

header ul li:last-child {
    border-right: 0px;
}

header .who {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
}

header .what {
    -ms-flex-preferred-size:15%;
        flex-basis:15%;
}

header p {
    font-size: 1.4rem;
    line-height: 1.3rem;
}

header nav ul li a:link, header nav ul li a:visited {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

header nav ul li {
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
    padding-top:10px;
    padding: 5px;
}

header nav ul li:hover, header nav ul li:active, header nav ul li:focus {
    background: #efefef;
}

.section01-video {
    margin-top:-20px;
    width: 100%;
    border-top: 10px solid #666666;
}

.section01-manifesto {
    width:80%;
    max-width:1316px;
    box-sizing: border-box;
    padding: 0 11px 0 11px;
    text-align: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding:40px 0 40px 0;
}

.section01-manifesto h1 {
    font-weight: 300;
    letter-spacing: -0.1rem;
}

.section01-manifesto h3 {
    width:100%;
    line-height: 4rem;
}

/* SECTION 01b MODAL */

.modal .section01-manifesto h1 {
    font-size: 3rem;
    line-height: 3rem;
}

.modal .section01-manifesto h3 {
    font-size: 2.3rem;
    line-height: 3rem;
}

.section01b-manifesto-content {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 15px 30px 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width:80%;
}

.section01b-content-info {
    padding: 30px 50px 30px 50px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.section01b-content-info p, .section01b-content-info-full p {
    font-size:2rem;
    line-height:2.3rem;
}

.section01b-content-info {
    padding: 20px 0 20px 0;
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section01b-padding-left {
    padding-left: 30px;
}

.section01b-padding-right {
    padding-right: 30px;
}

.section01-content-img {
    padding: 20px 0 20px 0;
}

/* SECTION 01c MODAL */

.section01-rainbow {
    width:100%;
    height:33px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgb(255, 255, 255)),color-stop(0.05, rgb(223, 19, 44)),color-stop(0.23, rgb(243, 239, 21)),color-stop(0.41, rgb(0, 152, 71)),color-stop(0.59, rgb(0, 165, 223)),color-stop(0.76, rgb(62, 20, 123)),color-stop(0.95, rgb(241, 71, 180)),color-stop(1, rgb(255, 255, 255)));
}

.section01c-title {
    width:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px;
}

.section01c-logo {
    width:100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section01c-title h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 25px;
    padding-right: 15px;
}

.section01c-title img {
    margin-top: -15px;
}

.section01c-subtitle {
    text-align:center;
    width:100%;
}

.section01c-title h2 {
    font-size: 5rem;
    font-weight: 300;
}

.section01c-header-img {
    width:100%;
}

.section01c-logo img {
    max-width:512px;
}

.section01c-body {
    width:90%;
    box-sizing: border-box;
    padding: 15px 25px 55px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section01c-body p {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.section01c-body-full {
    width:100%;
}

.section01c-body-main {
    width:65%;
}

.section01c-body-brush {
    width:25%;
}

.section01c-body-brush img {
    width:100%;
    height:auto;
}

/* SECTION 01D MODAL */

.section01d-headline {
    width:100%;
    padding: 30px;
}

.section01d-body {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px;
}

.section01d-column {
    width:45%;
    padding-bottom:40px;
}

.section01d-body p {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 2.4rem;
}


/* SECTION 02 ADVOCACY STATEMENTS */


.section02-who {
    width:100%;
    background: -webkit-linear-gradient(top, #e4e7e9 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e4e7e9 0%,#ffffff 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* SECTION 02b MODAL */

.section02b-header {
    width:100%;
    text-align:center;
}

.section02b-headline {
    width:75%;
    text-align: center;
}

.section02b-headline h1 {
    font-size: 4rem;
    line-height: 5rem;
}

.section02b-headline h3 {
    font-size: 2rem;
    line-height: 2rem;
}

.section02b-body {
    width:88%;
    padding: 50px 30px;
}

.section02b-info p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.3rem;
}

.section02b-info img {
    float: left;
    padding-right: 15px;
}

.section-advocate-image {
    width:100%;
    text-align: center;
    padding-top: 30px;
}

.section-advocate-image img {
    max-width:600px;
    height:auto;
}

.section-advocate-image-info {
    width:100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 20px;
}

.section-advocate-image-info p {
    max-width:600px;
    text-align: center;
}

/* SECTION 03 WHAT DATA */

.section03-what {
    width:100%;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.gradient-bg {
    width:100%;
    background: -webkit-linear-gradient(top, #e4e7e9 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #e4e7e9 0%,#ffffff 100%);
}

.section03-headline-box {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    box-sizing: border-box;
    width:100%;
    padding:20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align:center;
}

.section03-what-box {
    width:85%;
    margin: 0 auto;
    border-top: 3px solid #f18d4a;
    padding: 15px 40px 15px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section03-what-info {
    padding: 20px;
    box-sizing: border-box;
    width:65%;
}

.section03-what-img {
    padding: 20px;
    box-sizing: border-box;
    width:35%;
}

.section03-what-img img {
    width:100%;
    height:auto;
}

.section03-what-info p {
    font-size: 2rem;
    line-height: 2.6rem;
}

/* SECTION 03b MODAL */

.section03b-body {
    width:100%;
    padding: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section03b-box {
    width:95%;
    border-top: 3px solid #f18d4a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.section03-box-smaller {
    padding: 0 40px;
}

.section03-row {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
}

.section03-row img {
    width:100%;
    height:auto;
}

.max-width-dropout-chances img {
    max-width:357px !important;
}

.max-width-dropout img {
    max-width:600px !important;
}

.section03-row p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.section03-row-small {
    width:80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.section03-row-small img {
    max-width:400px;
    width:100%;
    height:auto;
}

.section03-row-small p {
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.section03-row-graybar {
    width:75%;
    
}

.row-pad-left {
    padding-left: 40px;
}

.row-pad-right {
    padding-right: 40px;
}

.section03-why-btn {
    margin-top: 40px;
}

.section03-why-btn a {
    color: white;
    width:100%;
}

.section03-why-btn h4 {
    padding: 0;
    margin: 0;
    font-weight:300;
}

.section03-footer {
    text-align:center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section03-footer-div {
    padding: 0 40px;
}

.section03-footer-div a {
    font-size:3.2rem;
    font-weight:200;
}

/* SECTION 03c MODAL */

.section03-why-bar p{
    font-size:2rem;
    font-weight:200;
    line-height: 2rem;
    color: #ffffff;
}

.section03-why-bar {
    width:90%;
    padding:10px 5px 10px 5px;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    transition: all .5s;
    text-align: center;
    background: #84989f;
}

.section03c-box {
    width:95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section03-why-bar p {
    padding:10px;
}

/* SECTION 03d MODAL */

.section03-row h1{
    font-size: 5rem;
    font-weight: 700;
}

/* SECTION 03e MODAL */

.section03-row-list ul {
    padding: 0 100px 0 100px;
}

.section03-row-list ul li{
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.7rem;
    line-height: 2.5rem;
}

/* SECTION 04e WHEN LIST */

.section04-when {
    width:100%;
    background: #718288;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}



/* SECTION 04b MODAL */

.section04b-header {
    width:100%;
    text-align:center;
}

.section04b-headline {
    width:75%;
    text-align: center;
}

.section04-headline h3 {
    font-size: 2.7rem;
    line-height: 2.7rem;
}

.section04b-body {
    width:100%;
    padding: 50px 30px;
    text-align: center;
}

.section04b-info p {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 2.3rem;
}

.section04b-info img {
    padding-right: 15px;
}

/* SECTION 05a Where */

.section05-where {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section05-where .section-headline-box .section-headline p {
    font-size: 2rem;
    font-weight: 300;
    line-height:2.2rem;
}

.section05-where-box {
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* SECTION 05 Map */

#section05-listings {
    width:33.33%;
    max-width:1366px;
    height: 1137px;
   float: left;
   text-align: center;
}
#section05-listings p {
    margin-bottom: 25px;
    padding: 0 15px;
}

#section05-listings .item {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 2.2rem;
}

/*#section05-listings .active {
    border-bottom: 3px solid #d43983;
    width:200px;
}*/

#section05-map {
    width:66.66%;
    max-width:1366px;
    height: 1137px;
}

.section-container .map {
    text-align: left;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

.mapboxgl-popup {
    max-width: 450px;
    color: #000;
}

/* End Map Styles*/

.section05-map img {
    max-width:1366px;
    width:100%;
    height:auto;
}

.section05-instructions {
    padding:0 30px;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.section05-box-half {
    width:45%;
    padding: 20px;
    box-sizing: border-box;
}

.section05-box-half p {
        line-height: 2.2rem;
}

.section05-box-full {
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section05-map-select {
    height: 5rem;
    background: #fff;
    color: black;
    font-size:2rem;
    line-height:4rem;

}

.section05-map-select select {
    width:100%;
    box-shadow:0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

/* SECTION 06 HOW */

.section06-how {
    width:100%;
    background: #e7ebee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.section06-donate {
    text-align: center;
}

.section06-donate .btn-donate-big a {
    width:100%;
    height:100%;
    display:block;
}

.section06-donate h2 {
    font-size: 7rem;
    line-height: 7rem;
    font-weight: 700;
    color: #ffffff;
}

.section06-donate h3 {
    font-size: 4rem;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    line-height:4rem;
}

.section06-donate h4 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #ffffff;
}

.section06-box-half {
    width:45%;
    padding: 10px;
    box-sizing: border-box;
}

.share-link a {
    font-size: 2rem;
    font-weight:700;
    text-decoration: underline;
    color: #f80720;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.share-link a:hover {
    color: #d31226;
}

/* SECTION 06B SPONSOR MODAL */

.section06-header {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 30px 30px 30px;
}

.section06-headline {
    width:80%;
    text-align: center;
}

.section06-headline h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
}

.section06-headline h2 {
    font-size: 5rem;
    font-weight: 300;
    line-height:6rem;
}

.section06-headline p {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.5rem;
}

.section06b-body {
    width:100%;
    max-width:1400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0 30px 0;
}

.section06b-body a {
    display: block;
    padding: 20px 0 20px 0;
}

.btn-sponsor-box {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
}

.btn-sponsor-info p {
    color: white;
    font-size: 2rem;
}

.btn-sponsor-info h1 {
    color: white;
    font-size: 3rem;
    line-height: 2.6rem;
}

.btn-sponsor-price {
    padding: 0 10px 0 70px;
}

.btn-sponsor-price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btn-sponsor-price-box h1 {
    color: white;
    font-size: 9rem;
}

.price-dollar h3 {
    color: white;
    font-size: 6rem;
}

.price-box {
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.price-cents-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    padding: 0 0 0 30px;
    width:100px;
}

.price-cents-cents {
    width:100%;
    height: 50%;
    border-bottom: solid 4px #ffffff;
}


.price-cents-month {
    width:100%;
}

.price-cents-box h4 {
    font-size: 3.5rem;
    font-weight: 300;
    color: #ffffff;
}

.btn-sponsor-small h2 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
}

.section06b-corporate {
    width:100%;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.section06b-corporate h2 {
    font-size: 2rem;
    font-weight: 300;
}

.section06b-corporate-info {
    padding: 0 20px 0 20px;
}

.section06b-corporate-info a {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.section06b-corporate-info a:hover {
    color: #d43983;
}

.section06-disclaimer {
    width:100%;
    text-align: center;
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section06-disclaimer p {
    padding: 20px;
    font-size: 1.2em;
}


/* INVOLVED FORM */

.section06c-body {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
}

.involved-form-box {
    width:80%;
    padding: 30px;
    box-shadow:0 0px 50px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
}

.involved-form-header {
    width:100%;
    text-align: center;
}

.involved-form {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.form-full {
    width:100%;
}

.form-half {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}


.involved-form input, .involved-form textarea {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2rem;
    color: #666666;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #666666;
}


.involved-form button {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    width:400px;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    padding: 20px;
    border:0;
    margin-top: 50px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.involved-form input:focus, .involved-form textarea:focus {
    outline: none;
    background: #e5e9eb;
}

.involved-form textarea {
    width:100%;
    min-height: 200px;
}

.form-submit-box {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    justify-content: center;
}

.involved-form .form-submit-disclaimer {
    width:40%;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
    
}

.involved-form .form-submit-box input[type="checkbox"]{
  width: 30px;
  height: 30px; 
  cursor: pointer;
  background: #ffffff;
    border: 1px solid #000000;
-webkit-appearance: none;
-moz-appearance: none;
     appearance: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.involved-form .form-submit-box input[type="checkbox"]:checked{
  background-color: #2ECC71;
}

.form-submit-button {
    width:100%;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

/* News Section */
.sectionNewsHeader {
    margin-bottom: 138px;
}

.articles {
    margin-bottom: 75px;
    width: 80%;
}

article.news {
    width: 100%;
    float: left;
}
.news h4 {
    padding-bottom: 15px;
}

.news .readMore {
    padding-top: 15px;
}

.news img {
    width: 25%;
    float: left;
    margin-right: 40px;
}

.article {
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
}

.article .back {
    color: #3185c9;
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
}

.newsMain {
    margin-bottom: 40px;
}

.newsMain h3 {
    margin-bottom: 40px;
}

.newsMain img {
    margin-bottom: 40px;
}

.newsBody {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}



/* FOOTER FORM */

.footer {
    width:100%;
    background: #ac92ff;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 70px 0 100px 0;
    box-sizing: border-box;

}

.footer-nav {
    width:100%;
    padding: 0 0 20px 0;
}



.footer-nav ul {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    list-style: none;
    box-sizing: border-box;
    padding:0;
}

.footer-nav ul li {
    border-right: 2px solid #ffffff;
    padding: 0 10px 0 10px;
    text-align:center;
}

.footer-nav ul li:first-child {
    padding-left:0;
}

.footer-nav ul li:last-child {
    border-right: 0px;
    padding-right: 0;
}

.footer-nav ul li a p {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 2rem;
}

.footer-nav ul li a:hover p {
    color: black;

}

.footer-nav p {
    color: white;
}

.footer-copyright p {
    color: white;
    font-size: 1.4rem;
}

.footer-copyright {
    width:100%;
    box-sizing: border-box;
    padding: 10px;
}

/* Privacy Modal */

#privacypolicy {
    color: #768992;
}

.privacypolicy-header {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 30px 30px 30px;
}

.privacypolicy-headline {
    width:80%;
    text-align: center;
}


.privacypolicy-headline h2 {
    font-size: 5rem;
    font-weight: 300;
    line-height:6rem;
    margin-bottom: .6em;
}

.privacypolicy-body ul {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    color: #768992;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.8rem;
}
.privacypolicy-body p {
    margin-bottom: 1.6em;
}

.privacypolicy-body h3 {
    margin-bottom: .6em;
}







/* ==========================================================================
   Styling
   ========================================================================== */

.red {color: #f80720;}
.pinkred {color: #ff5464}
.hotpink {color: #fb28fe;}
.burgandy {color: #d43983;}
.orange {color: #f18d4a;}
.neonyellow {color: #feff00;}
.neongreen {color: #34FA24;}
.olive {color: #aad24f;}
.forestgreen {color: #009933;}
.bluegreen {color: #33cc99;}
.tealbright {background: #37d9b6;}
.teal {color: #31afbb;}
.skyblue {color: #01d2ff;}
.blue {color: #3185c9;}
.purple {color: #aa67b1;}
.lavender {color: #d598db;}
.footerpurple {color: #ac92ff;}
.lightgray {color: #e5e9eb;}
.darkgray {color: #666666;}
.sparkgray {color: #768992;}
.bluegray {color: #84989f;}
.white {color: #ffffff;}

.red-bg {background: #f80720;}
.hotpink-bg {background: #c81fa3;}
.burgandy-bg {background: #d43983;}
.orange-bg {background: #f18d4a;}
.neonyellow-bg {background: #feff00;}
.neongreen-bg {background: #34FA24;}
.olive-bg {background: #aad24f;}
.forestgreen-bg {background: #009933;}
.bluegreen-bg {background: #33cc99;}
.tealbright-bg {background: #37d9b6;}
.teal-bg {background: #31afbb;}
.skyblue-bg {background: #01d2ff;}
.blue-bg {background: #3185c9;}
.purple-bg {background: #aa67b1;}
.lavender-bg {background: #d598db;}
.footerpurple-bg {background: #ac92ff;}
.lightgray-bg {background: #e5e9eb;}
.darkgray-bg {background: #666666;}
.sparkgray-bg {background: #768992;}
.bluegray-bg {background: #84989f;}
.white-bg {background: #ffffff;}

.red-bg:hover {background: #d31226;}
.hotpink-bg:hover {background: #c81fa3;}
.burgandy-bg:hover {background: #9c3868;}
.orange-bg:hover {background: #bf6d37;}
.neonyellow-bg:hover {background: #c4c515;}
.neongreen-bg:hover {background: #39c92d;}
.olive-bg:hover {background: #88a447;}
.forestgreen-bg:hover {background: #007326;}
.bluegreen-bg:hover {background: #2d8f6e;}
.tealbright-bg:hover {background: #29aa8e;}
.teal-bg:hover {background: #23828b;}
.skyblue-bg:hover {background: #13a8c8;}
.blue-bg:hover {background: #346e9d;}
.purple-bg:hover {background: #7f5284;}
.lavender-bg:hover {background: #a071a5;}
.footerpurple-bg:hover {background: #8975c6;}
.lightgray-bg:hover {background: #bbc1c4;}
.darkgray-bg:hover {background: #4a4a4a;}
.sparkgray-bg:hover {background: #56656c;}
.bluegray-bg:hover {background: #5d6f76;}



h1, h2, h3, h4, a, p {
    font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
    color: #768992;
    margin: 0;
}

h1 {
    font-size:5rem;
    font-weight:300;
}

h2 {
    font-size:4rem;
    font-weight:700;
    line-height: 3.6rem;
}

h3 {
    font-size:3.2rem;
    font-weight:200;
}

p {
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.8rem;
}

.p-smaller {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.section-headline-smaller p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.4rem;
}

.p-left{
    text-align: left;
}

a {
    text-decoration:none;
    outline: 0 none;
}

.link-hover {
    text-decoration: none;
    border-bottom: 3px solid transparent;    
    width: 0px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    white-space: nowrap;
    height: 25px;
}
.link-hover:hover {
    border-bottom: 3px solid #d43983;
    width: 200px;
}

.strong {
    font-weight:700;
}

.align-top {
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.add-padding-top {
    padding-top: 30px;
}

.modal-body-full-quote {
    padding: 20px 40px 20px 40px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media only screen and (max-width:1144px) {
    
    .section02b-header img {
        width:100%;
        height:auto;
        max-width:983px;
    } 
    
    .section03-row-small {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section03-row-small img {
        width:100%;
        max-width:400px;
        height:auto;
        padding-bottom: 30px;
    }
    
    .section04b-header img {
        width:100%;
        height:auto;
        max-width:983px;
    }
    
}


@media only screen and (max-width: 1100px) {
    
    header h2 {
        font-size: 3.3rem;
    }
    
    header p {
        font-size: 1.2rem;
    }
    
    .modal-body-full-quote {
        padding: 0 40px 0 40px;
    }
    
    .btn-sponsor {
        width:600px;
        padding:40px 30px 20px 30px;
    }

    .btn-sponsor-small {
        width:400px;
        padding:20px;
    }
    
    .btn-sponsor-box {
        flex-wrap: wrap;
    }

    
    
}



@media only screen and (max-width: 930px) {
    
    .mobile-scale img {
        width:100%;
        height: auto;
    }
    
    /* HEADER */
    
    .section01-header {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .section01-header-logo-box {
        width:100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .section01-header-vertdiv {
        display: none;
    }
    
    .section01-logo-spark {
        width:100%;
        -webkit-box-ordinal-group:1;
            -ms-flex-order:0;
                order:0;
    }
    
    .section01-logo-fcoe {
        width:100%;
        padding: 10px 0 10px 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        text-align: center;
    }
    
    .section01-logo-spark {
        padding: 0;
    }

    .section01-header-topnav-box {
        margin-top: 0px;
    }
    
    /* NAVIGATION */
    
    
    header .what {
    -ms-flex-preferred-size:20%;
        flex-basis:20%;
    }
    
    header .where {
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    }     
    
    header .when {
        -ms-flex-preferred-size:20%;
            flex-basis:20%;
    }
    
    header nav ul {
        height:150px;
}
    
    header li p {
        padding: 0 2px;
    }
    
    
    /* VIDEO */

    
    /* SECTION01B MODAL */
    
    .section01c-title {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
    
    .section01c-logo img {
        margin-top: -100px;
    }
    
    .section01c-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section01c-logo h1 {
        font-size: 5rem;
        width:100%;
    }
    
    .section01c-title h2 {
        font-size: 3rem;
    }
    
    /*section01c modal */
    .section01c-logo img {
        max-width:450px;
    }
    
    .section01c-body p {
    font-size: 2rem;
    line-height: 2rem;
}
    
    /* section02b-f modal */
        .section02b-headline h1, .section02c-headline h1, .section02d-headline h1, .section02e-headline h1, .section02f-headline h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .section02b-info p, .section02c-info p, .section02d-info p, .section02e-info p, .section02f-info p {
        font-size:1.5rem;
        line-height: 1.5rem;
    }
    
    
    
    /* section03 modals */
    
    .section03-row p {
        font-size: 1.5rem;
        line-height:1.8rem;
    }
    
    .section03-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .section03-row img {
        text-align: center;
        padding-bottom: 20px;
        max-width: 400px;
    }
    
    .row-pad-right {
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
        padding: 20px;
    }
    
    .row-pad-left {
        padding: 20px;
    }
    
    
    
    /* section04 modal */
    
    .section04b-headline h3 {
        font-size: 2.2rem;
        line-height: 2.3rem;
    }
    
    .section04-info p {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    
    .section04b-body img {
        width:100%;
        height: auto;
    }
    
    /* section06 modal */
    
    .section06-headline h1 {
        font-size: 5rem;
        line-height: 5rem;
    }
    
    .section06-headline h2 {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    .section06-headline p {
        font-size: 1.6rem;
        line-height: 1.6rem;
    }
    
    /* form */
    
    .form-submit-box {
        -ms-flex-wrap: wrap;
        flex-wrap:wrap;
    }

    .involved-form .form-submit-disclaimer {
        padding: 0 30px 0 30px;
        width:80%;

    }

    .form-submit-button {
        width:100%;
        margin: 0 auto;
        text-align:center;
    }
    
    /*donate modal section06 corporate */
    .section06b-corporate {
        flex-wrap: wrap;
        padding: 10px;
        text-align: center;
    }
    
    .section06b-corporate h2 {
        line-height: 1.7rem;
    }
    
}
    



@media only screen and (max-width: 778px) {
    
    header .who, header .what, header .when, header .where, header .how {
        -ms-flex-preferred-size:auto;
            flex-basis:auto;
        padding: 0 10px;
    }
    
    header nav ul {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    header nav ul {
        height:70px;
}
    
    header h2 {
        font-size: 2.5rem;
    }
    
    header li p {
        display: none;
    }
    
    header nav ul li {
        border-right: 0px solid #666666;
        border-bottom: 0px;
    }
    
    .section01-video {
        width: 100%;
    }

    .video {
        margin-top:0px;
        position: relative;
        padding-bottom: 56.25%;
        height:0;
    
    }
        
    .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height:100%;
    }
    
    .section01b-content-img {
        padding: 10px 0 10px 0;
    }
    
    .section03-what-box {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 15px 10px 15px 10px;
    }
    
    .section03-what-info {
        width:100%;
        -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
                order:2;
        text-align: center;
    }
    
    .section03-what-img {
        margin: 0 auto;
        width:70%;
    }
    
    /* SECTION HEADLINE */
    
    .section-headline {
        width:90%;
    }
    
    .section-headline h1 {
        font-size: 3.1rem;
        line-height: 2.9rem;
    }
    
    .section05-where .section-headline-box .section-headline p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height:1.5rem;
    }
    
    .section01-manifesto h1 {
        font-size: 2.7rem;
        line-height: 2.5rem;
    }

    .section01-manifesto h3 {
        font-size: 2rem;
        line-height: 2.3rem;
    }
    
    .btn {
        width:200px;
        height:60px;
        max-height:60px;
        padding:20px 5px 15px 5px;
        font-size: 1.2rem;
        font-weight: 300;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .btn-medium {
        width:300px;
        height:60px;
        max-height:60px;
        padding:15px 2px 15px 2px;
        font-size: 1.7rem;
        font-weight: 300;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .btn-modal {
        width:300px;
        height:60px;
        max-height:60px;
        padding:20px 5px 15px 5px;
        font-size: 1.1rem;
        font-weight: 300;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    #section01c button, #section01d button {
        width:300px;
        height:60px;
        max-height:60px;
        padding:15px 5px 15px 5px;
        font-size: 1.2rem;
    }
    
    .section06-donate h2 {
    font-size: 4rem;
    line-height: 4rem;
}
    
    .section06-donate h3 {
        font-size: 3rem;
        font-weight: 300;
    }

    .section06-donate h4 {
        font-size: 2rem;
        font-weight: 300;
    }
    
    .section06-how-box .section-buttons {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section06-how-box .section-buttons-info {
        width:100%;
    }
    
    .section06-how-box .section-buttons-info {
        width:100%;
        padding-bottom:10px;
    }
    
    .section05-instructions {

        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section05-box-half {
        width:100%;
    }
    
    /* MAP */
    #section05-map {
        height: 500px;
    }
    
    /*MODALS*/
    
        .section-advocate-image img {
    max-width:600px;
    width:100%;
    height:auto;
}
    
    .scale-img-modal img {
        width:100%;
        height: auto;
    }
    
    .section01b-manifesto-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 10px;
    }
    
    .section01b-manifesto-content .align-left {
        text-align: center;
    }
    
    .section01b-manifesto-content .align-right {
        text-align: center;
    }
    
    .section01b-content-info {
        width:100%;
        padding: 0px 10px 0px 10px;
    }
    
    .section01b-content-img {
        width:100%;
    }
    
    .switch-order-one {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    
    .switch-order-two {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    
    /* SECTION01B MODAL */
    
    .section01c-title {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
    }
    
    .section01c-logo img {
        margin-top: -100px;
    }
    
    .section01c-logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section01c-logo h1 {
        font-size: 3rem;
        width:100%;
    }
    
    .section01c-title h2 {
        font-size: 1.5rem;
    }
    
    .section01c-body p {
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    
    /* section01d modal */
    
    .section01d-headline h3 {
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
    
    .section01d-column {
        width:100%;
        padding: 0 10px 0 10px;
    }
    
    .section01d-column p {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
    
    .section02b-info img {
        padding-bottom: 20px;
    }
    
    .section03b-body {
        padding: 40px 20px 40px 20px;
    }
    
    .section03-row-list ul {
        padding: 0 30px 0 30px;
    }

    .section03-row-list ul li{
        font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1.7rem;
        line-height: 2rem;
    }
    
    .section06-how-box .section-buttons {
        padding: 10px 0 40px 0;
    }
    
    /* DONATE MODAL */
    
    .btn-sponsor {
        width:400px;
        padding:30px 20px 20px 20px;
    }

    .btn-sponsor-small {
        width:300px;
    }
    
    .btn-sponsor-info {
        text-align:center;
    }
    
    .btn-sponsor-info p {
        font-size: 1.5rem;
    }
    
    .btn-sponsor-price {
        padding: 0 10px 0 10px;
        text-align:center;
        width:100%;
    }
    
    .btn-sponsor-price-box {
        width:100%;
        justify-content: center;
    }
    
    .btn-sponsor-price-box h1 {
        font-size: 5rem;
    }
    
    .price-dollar h3 {
        font-size: 3rem;
    }
    
    .price-cents-cents {
        border-bottom: solid 2px #ffffff;
    }
    
    .price-cents-box {
        padding: 0 0 0 10px;
        width:80px;
    }
    
    .price-cents-box h4 {
        font-size: 2rem;
        font-weight: 300;
    }
    
    .btn-sponsor-small h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
    
}

@media only screen and (max-width: 660px) {
    .footer {
            padding: 30px 0 30px 0;
        }

        .footer-copyright p {
            font-size: .8rem;
        }

        .footer-nav ul li a p {
            font-size: 1.3rem;
        }
}


@media only screen and (max-width: 600px) {
    
    header h2 {
        font-size: 2rem;
    }
    
    .section06-info p {
            font-size: 2rem;
            line-height: 2rem;
    }
    
    /*section03 modal */
    .section03-footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
}


@media only screen and (max-width: 530px) {
    
    .section01-logo-fcoe img {
        max-width:60px;  
    }
    
    header nav ul {
        height: 120px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .section01-manifesto h1 {
        font-size: 2.7rem;
        line-height: 2.5rem;
    }
    
    .modal .section01-manifesto h3 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .modal .section-headline h1 {
        font-size: 2.7rem;
        line-height: 2.5rem;
    }
    
    .section-headline p {
        font-size:2rem;
        line-height:2rem;
    }
    
    .section03-what-box .align-right, .section03-what-box .align-left {
        text-align: center;
    }
    
    .section03-what-info p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    
    .section01c-logo img {
        margin: -10px 0 0 -10px;
        max-width:70%;
    }
    
    .section03-row-list ul {
        padding: 0 30px 0 30px;
    }

    .section03-row-list ul li{
        font-family: 'Lato', "Helvetica Neue", Helvetica, sans-serif;
        font-size: 1.7rem;
        line-height: 2rem;
    }
    
    /* section02b-f modal */
        .section02b-headline h1, .section02c-headline h1, .section02d-headline h1, .section02e-headline h1, .section02f-headline h1,  {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
    
    .section02b-body p, .section02c-body p, .section02d-body p, .section02e-body p, .section02f-body p,  {
        font-size:1.3rem;
        line-height: 1.3rem;
    }
    
    .section02b-info img, .section02c-info img, .section02d-info img, .section02e-info img, .section02f-info img, {
        padding-bottom: 20px;
        text-align: center;
    }
    
    .section03-row-small, .modal-body-full-quote {
        width:100%;
    }
    
    .modal-body-full-quote {
    padding: 20px 0 0 0;
}
    
    /* section06 modal */
    
    .involved-form-header h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    
    .form-full, .form-half {
        width:100%;
    }
    
        .section06-headline h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    
    .section06-headline h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    
    .involved-form button {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        padding: 10px;
        border:0;
        margin-top: 50px;
    }
    
    .row-pad-right {
        padding: 40px 20px 0 20px;
    }
    
    .row-pad-left {
        padding: 40px 20px 0 20px;
    }
    
    .section03-row-small {
        padding:0 0 0 0;
    } 
    
    .section03-row img, .section03-row-small img {
        max-width:300px;
    }
    
    .involved-form button {
        width:250px;
        font-size: 3rem;
        font-weight: 300;
    }
       
}
    
@media only screen and (max-width: 450px) {
    
    .section-buttons {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .btn {
        width:90%;
        height:60px;
        max-height:60px;
        padding:15px 5px 15px 5px;
        font-size: 1.7rem;
        font-weight: 300;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .btn-medium {
        width:90%px;
        height:60px;
        max-height:60px;
        padding:15px 5px 15px 5px;
        font-size: 1.5rem;
        font-weight: 300;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    
    .btn-space {
        width:100%;
        height:10px;
    }
    
    .btn-medium {
        width:90%;
    }
    
    .btn-donate-big {
        width:100%;
        padding:15px 10px 20px 15px;
        box-sizing: border-box;
        color: #ffffff;
        -webkit-transition: all .5s;
        transition: all .5s;
        text-align: center;
    }
    
    
    .modal .section01-manifesto h3, .section01-manifesto h3 {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    
    .section01b-content-info {
        padding: 10px 0 10px 0;
    }
    
    .section01b-content-info p, .section01b-content-info-full p {
        font-size: 1.5rem;
        line-height: 1.4rem;
    }
    
    .section06-donate h2 {
        font-size: 3rem;
        line-height: 3rem;
        padding: 0;
    }

    .section06-donate h3 {
        font-size: 2rem;
        line-height:2rem;
    }

    .section06-donate h4 {
        font-size: 1.3rem;
    }
    
    .footer {
        padding: 30px 0 30px 0;
    }
    
    .footer-copyright p {
        font-size: .7rem;
        line-height:.8rem;
    }


    .footer-nav ul li a p {
        font-size: 1.2rem;
    }
    
    /* DONATE MODAL */
    
    .btn-sponsor {
        width:300px;
        padding:10px;
    }
    
    /* MAP */
    #section05-map {
        height: 400px;
    }
    
 
}

@media only screen and (max-width: 460px) {
    
    .section-headline-smaller p {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5rem;
}
    
    .footer-nav {
        width:70%;
        margin: 0 auto;
        padding: 0 10px 0 10px;
    }
    
    .footer-nav ul {
        font-size: 1.3rem;
        line-height: 1.8rem;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .footer-nav ul li {
        border-right: 0px;
    }
    
    .section-buttons-info p a {
        line-height: 2rem;
    }
    
    .section06-info p {
            font-size: 1.5rem;
            line-height: 1.5rem;
    }
    
}


    
    


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Responsive images class */
.scale-img img {
    width:100%;
    height:auto;
}

.fit-img {
    width:100%;
    height:auto;
}

.scale-video {
    max-width:100%;
    height: auto;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


