{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}



<!-- Main Container-->

<div class="page-container">

<!-- SECTION 01 -->
<!-- Header -->


    <div class="section-container">
    <div class="section01-header">
    
    
            
        <div class="section01-header-logo-box">
        
            <div class="section01-logo-fcoe mobile-scale">
                <a href="http://www.fcoe.org" target="_blank"><img src="/themes/spark/img/logo_FCOE.png" alt="Fresno County Superintendent of Schools"></a>
            </div>

            <div class="section01-header-vertdiv">&nbsp;
            </div>

            <div class="section01-logo-spark mobile-scale">
                <a href="/"><img src="/themes/spark/img/logo_spark.png">
                </a>
            </div>
                
        </div>
            
        <div class="section01-header-topnav-box">
            <div class="section01-header-topnav">
                <p><!-- <a href="#section01c" data-toggle="modal" data-target="#section01c" class="link-hover">about</a> | <a class="link-hover" href="#">news + events</a> -->
                </p>
            </div>

        </div>
        
    </div>
    </div>
<!-- Header End -->

<!-- Navigation -->
    <header>
        <nav>
            <ul>
                <li class="who">
                    <a href="#section02">
                        <h2 class="olive">who</h2>
                        <p>believes the arts can <span class="forestgreen">SAVE FRESNO'S ECONOMY?</span>
                        </p>
                    </a>
                </li>
                <li class="what">
                    <a href="#section03">
                        <h2 class="skyblue">what</h2>
                        <p>data is there to prove it?
                        </p>
                    </a>
                </li>
                <li class="when">
                    <a href="#section04">
                        <h2 class="purple">when</h2>
                        <p>did the arts inspire today's business leaders?</p>
                    </a>
                </li>
                <li class="where">
                    <a href="#section05">
                        <h2 class="orange">where</h2>
                        <p>is it happening <span class="olive">NOW?</span></p>
                    </a>
                </li>
                <li class="how">
                    <a href="#section06">
                        <h2 class="burgandy">how</h2>
                        <p>can <b><i>YOU</i></b> help? <span class="forestgreen">CLICK!</span></p>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
<!-- Navigation End -->

<div class="page-section-container">

<div class="page-inner-container"

{{ page.content }}

</div>

</div>

<!-- SECTION 07 FOOTER -->
            
        <div class="footer">
            <div class="section-container">
            
            
            <div class="footer-nav">
            
                    <ul>
                    <!-- Remove temporarily 
                        <li class="news">
                            <a href="#">
                                <p>
                                news + events
                                </p>
                            </a>
                        </li>
                        <li class="resources">
                            <a href="#">
                                <p>
                                resources
                                </p>
                            </a>
                        </li>
                        -->
                        
                        <li class="contact">
                            <a href="mailto:mgalvan@fcoe.org?Subject=Spark%20Inquiry">
                                <p>
                                contact
                                </p>
                            </a>
                        </li>
                        <li class="privacy">
                            <a href="#privacypolicy" data-toggle="modal" data-target="#privacypolicy">
                                <p>
                                privacy
                                </p>
                            </a>
                        </li>
                    </ul>
            
            </div>
            
            <div class="footer-copyright">
            
            <p>
                &copy;2016-2017 The Foundation @ FCOE
            </p>
            
            </div>
            
            
        </div>
    </div>

    <!-- SECTION 07 PRIVACY POLICY MODAL-->

            <div class="modal fade" id="privacypolicy" role="dialog" aria-labelledby="privacypolicy">
                
                <div class="modal-dialog" role="document">
                  
                    <div class="modal-content">
                        
                        <!-- MODAL BODY -->
                        <div class="modal-body modal-gradient-bg">

                            <!-- MODAL CLOSE X -->
                            <a href="#close" data-dismiss="modal" aria-label="close">
                            <div class="modal-x">
                            <p>X</p>
                            </div>
                            </a>
                            <!-- MODAL CLOSE X END -->
                            
                            
                            <!-- Header -->
                            <div class="privacypolicy-header">
                                
                                <div class="privacypolicy-headline">
                                
                                    <h2>Privacy Policy</h2>

                            </div>
                        <!-- Header End -->
                            
                            <div class="privacypolicy-body">
                                
                            <p>This privacy policy discloses the privacy practices for (final website address). This privacy policy applies solely to information collected by this web site. It will notify you of the following:</p>

                            <ul>
                                <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
                                <li>What choices are available to you regarding the use of your data.</li>
                                <li>The security procedures in place to protect the misuse of your information.</li>
                                <li>How you can correct any inaccuracies in the information.</li>
                            </ul>

                            <h3>Information Collection, Use, and Sharing </h3>

                            <p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

                            <p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request.</p>

                            <h3>Security</h3>

                            <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

                            <p>Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.</p>

                            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

                            <h3>Updates</h3>

                            <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
                                
                            </div>
                            
                            
                        
                        <!-- MODAL FOOTER -->
                        <div class="modal-footer">
                            <h3>
                                <a href="#close" data-dismiss="modal" aria-label="close" class="link-hover">BACK</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                   
        <!-- SECTION 07 PRIVACY POLICY MODAL END -->
            
            
        <!-- SECTION 07 FOOTER END -->


</div> <!-- /.page-container -->